body{
    background-color: pink;
    
}

#header{
    background-color: aliceblue;
    text-align: center;
    border-radius: 100%;
    border-style: dotted;
    border-width: 1px;

}

#list {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin-left: 35%;
}



img{
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 25%;
    margin-right: 25%; 
}

#navlinks{
    position: fixed;

}

#footer{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: peachpuff;
    text-align: center;
}